.match-selection {
    margin-top: 50px;
}


/* Style for win probability */
.win-probability {
    margin-top: 10px;
    text-align: center;
}

.probability-value {
    font-weight: bold;
    font-size:2rem;
    color: #ffffff; /* Change color to match your design */
}


    /* FIGHT HISTORY CONTAINER */
.fight-history {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.fight-history h2{
    color: #FFF8DC;
    font-size: 3em;
}

    /* FIGHT HISTORY SECTION */
.fight-history-table {
    width: 95%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 25px;
}


.fight-history-table th { background-color: #1F2739; }
.fight-history-table td{ background-color: #545c6d; }

.fight-history-table tr {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.fight-history-table th, .fight-history-table td {
    padding: 5px;
    width: 350px;
    height: 50px;
}

.fight-history-table th {
    color: #ffffff;
}
.fight-history-table td {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: #e6e6e6;
}

.fight-history-table tbody tr:hover {
    background-color: #464A52;
    box-shadow: 0 6px 6px -6px #0E1119;

    font-weight: bold;
    box-shadow: #7f2121 -1px 1px, #7f2121 -2px 2px, #7f2121 -3px 3px, #7f2121 -4px 4px, #7f2121 -5px 5px, #2f217f -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

@media (max-width: 800px) {
    .container td:nth-child(4),
    .container th:nth-child(4) { display: none; }
}




/* Style for the win rate table */
.win-rate h2{
    color: #FFF8DC;
    font-size: 3em;
}

.win-rate-table {
     width: 95%;
     border-collapse: collapse;
     margin-top: 20px;
     font-size: 25px;
     margin-bottom: 50px;
}

.win-rate-table th,
.win-rate-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    height: 70px;
    width: 350px;
}

.win-rate-table th {
    background-color: #1F2739;
    color: #FFFFFF;
}

.win-rate-table tr {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: #ffffff;
    background-color: #545c6d;
}

.win-rate-table tbody tr:hover {
    background-color: #464A52;
    box-shadow: 0 6px 6px -6px #0E1119;

    font-weight: bold;
    box-shadow: #7f2121 -1px 1px, #7f2121 -2px 2px, #7f2121 -3px 3px, #7f2121 -4px 4px, #7f2121 -5px 5px, #2f217f -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}


@media (max-width: 800px) {
    .container td:nth-child(4),
    .container th:nth-child(4) { display: none; }
}